*
  box-sizing: border-box
body
  background: #fff
  font-family: $roboto
  overflow-x: hidden
.container
  max-width: 1140px
  margin: auto
img
  max-width: 100%
a
  text-decoration: none
  cursor: pointer
button
  outline: none
