.hero
  padding: 58px 0 105px 0
  position: relative
  background-color: $light
  z-index: -3
  &::before
    content: ''
    position: absolute
    top: 58px
    right: 0px
    height: 657px
    width: 754px
    background-image: url("../img/mac.png")
    background-size: inherit
    background-repeat: no-repeat
    z-index: -2
  &-main
    @include disJustAli
    position: relative
  &-info
    display: flex
    flex-direction: column
    align-items: flex-start
    max-width: 499px
    // height: 582px
    position: relative
    &__title
      margin: 0
      font-style: normal
      font-weight: bold
      font-size: 48px
      line-height: 57px
      color: $navy
      &--mb15
        margin-bottom: 18px
      &-text
        font-weight: bold
        font-size: 36px
        line-height: 60px
        color: $navy
    &__text
      font-family: $open
      font-style: normal
      font-weight: normal
      font-size: 18px
      line-height: 32px
      color: $light-navy
      margin-bottom: 63px
  &__button
    padding: 16px 24px
    background: $navy
    border-radius: 8px
    border: none
    min-width: 242px
    color: #fff
    margin-bottom: 56px
    font-family: $open
    font-style: normal
    font-weight: bold
    font-size: 18px
    line-height: 25px
    text-align: center
    &-circle
      width: 54px
      height: 56px
      border-radius: 50%
      border: 2px solid $light-navy
      background: $light
