.reviews
  padding: 66px 0 50px 0
  &-wrapper
    position: relative
  &__info
    display: block
    margin-bottom: 20px
  &-heading
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 48px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 36px
      line-height: 48px
      letter-spacing: 0.2px
      color: $navy
      margin: 0
    &__button
      outline: none
      &--next
        position: absolute
        right: 0
        width: 56px
        height: 56px
        top: 58%
        right: -28px
        border-radius: 50%
        border: none
        background-color: #fff
        background-image: url(../img/next-button.svg)
        background-repeat: no-repeat
        background-position: center
        filter: drop-shadow(0px 12px 16px rgba(0, 0, 0, 0.08))
        z-index: 99
  &-slider
    width: 100%
    min-height: 275px
    position: relative
  &-slides
    max-width: 585px
    &__card
      display: flex
      flex-direction: column
      max-width: 555px
      // min-height: 264px
      padding: 40px
      border-radius: 10px
      border: 1px solid #DDE6F4
      box-shadow: 0px 15px 35px rgba(0, 0, 0, 0.05)
    &__user
      display: flex
      align-items: center
      margin-bottom: 30px
    &__avatar
      width: 56px
      height: 56px
      border-radius: 50%
      object-fit: cover
      margin-right: 20px
    &__name
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 32px
      letter-spacing: 0.2px
      color: $navy
      margin: 0
      margin-bottom: 5px
    &__title
      font-family: $open
      font-style: normal
      font-weight: normal
      font-size: 16px
      line-height: 28px
      color: $light-navy
    &__review
      font-family: $open
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 24px
      color: $light-navy
.swiper-wrapper
  // position: relative
